body{
	margin:0;
	padding: 0;
	padding-top: 50px;

}
body, input, select, button,textarea{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	line-height: 1.2;
	color: rgb(100,100,100);
}
b{
	font-weight: 300;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color: rgb(100,100,100);
	-webkit-touch-callout: none;
}


a, input, button {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.block{
	display: block!important;
}
.green{
	    color: rgb(36,211,154)!important;
}
.red{
	    color: rgb(255,0,0)!important;
}
.pointer{
	cursor: pointer;
}
button{
	width: 100%;
	background-color: rgb(36,211,154);
	outline: none;
	border:none;
	height: 30px;
	color: rgb(255,255,255);
	font-size: 14px;
	cursor: pointer;
}
select, input{
	outline: none;
	background-color: transparent;
	width: 100%;
	height: 30px;
	border: none;
	border-radius: 0;
	padding-left: 10px;
	color: rgb(50,50,50);
	font-size: 14px;
}

div.wrapper-input{
	border-bottom: 1px solid rgb(220,220,220);
	height: 50px;
	width: 100%;
}
div.wrapper-input label{
	font-size: 12px;
	margin-left: 10px;
	margin-top: 5px;

}
div.wrapper-text{
	border-bottom: 1px solid rgb(220,220,220);
	height: 30px;
	width: 100%;
}
div.wrapper-text label{
	font-size: 12px;
	margin-left: 10px;
	line-height: 2.5;
}

div.wrapper-title{
	text-align: center;
	font-size: 14px;
	line-height: 3;
	border-bottom: 1px solid rgb(220,220,220);
	height: 40px;
	width: 100%;
	font-weight: bold;
}

a.link{
	text-decoration: underline;
}